html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
}

nav {
  background-color: rgba(255, 0, 51, .6);
  height: auto;
  color: white;
  padding: 2rem;
  position: fixed;
  z-index: 10;
}

.logo {
  float: left;
  margin-left: 15px;
  font-size: 2rem;
}

.b-menu {
  float: right;
  /* margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px; */
  max-width: 15%;
}

.menu-desktop {
  text-decoration: none;
  float: right;
}

a {
  text-decoration: none;
  font-size: 1.7rem;
  color: white;
}

.menu-desktop a {
  margin-left: 1rem;
}

header {
  text-align: center;
  background-image: url("../assets/images/gif-header.gif");
  background-position: center;
  background-size: cover;
  color: white;
  height: 40rem;
  /* padding: 5rem; */
  box-shadow: 2px 2px 5px rgba(23, 32, 42, .9);
}

h1 {
  font-size: 4rem;
}

h2{
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #4FC3F7;
}

p {
  font-size: 1.7rem;
}

.sec-text {
  padding-top: 6rem;
}

i {
  font-size: 5rem;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.p-one{
  margin-bottom: 1rem;
}

.p-two {
  margin-bottom: 2rem;
}

.container-follow {
  margin-bottom: 2rem;
}

/* CARDS */

h3 {
  font-size: 3rem;
  margin-bottom: .5rem;
}

.mail {
  color: #29B6F6;
}


.container-img-card {
  border: 1px solid #EEEEEE;
  border-radius: .7rem;
  box-shadow: 2px 2px 5px rgba(23, 32, 42, .5);
  padding-bottom: 1rem;
}

img {
  /* width: 100%; */
  border-radius: 2rem;
}

.text-card p{
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.button {
  background-color: #4FC3F7;
  border-radius: .5rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  color: white;
}

footer {
  background-color: #424242;
  color: white;
  height: 5rem;
  margin-top: 5rem;
  padding: 2rem;
  text-align: center;
}
