html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
}

nav {
  background-color: rgba(255, 0, 51, .6);
  height: auto;
  color: white;
  padding: 2rem;
  position: fixed;
  z-index: 10;
}

.logo {
  float: left;
  margin-left: 15px;
  font-size: 2rem;
}

.b-menu {
  float: right;
  /* margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px; */
  max-width: 15%;
}

.menu-desktop {
  text-decoration: none;
  float: right;
}

.menu-desktop a {
  font-size: 1.7rem;
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

header {
  text-align: center;
  background-image: url("../assets/images/gif-header.gif");
  background-position: center;
  background-size: cover;
  color: white;
  height: 40rem;;
  padding: 5rem;
}

h1 {
  font-size: 4rem;
}

h2{
  font-size: 2.2rem;S
}

p {
  font-size: 1.7rem;
}

h3 {
  font-size: 3rem;
}


/* .container-img-card {
  width: 300px;
  height: 200px;
} */

/* img {
  width: 100%;
} */

footer {
  background-color: #424242;
  color: white;
  height: 5rem;
  padding: 2rem;
  text-align: center;
}
